# Project place file
/hybrid-conflict.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Unit Test places
out.rbxl

# Wally
# wally.lock wtf you were never supposed to ignore this file?????
Packages

# MKDocs
site/

# Luau LSP sourcemap
/sourcemap.json

# Moonwave Build Bullshittery
# god bless america (NOT)
.vercel
