body {
	background-color: #000000;
	color: #AAAAAA;
	font-family: "Roboto Mono", monospace;
	font-size: 12px;
	margin: 0;
	padding: 16px;
}

.entry .prompt {
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 0 0;
	padding: 0;
}

.entry .command {
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	margin: 0 0 0 0;
	padding: 0;
	min-width: 512px;
}

.entry {
	margin: 0 0 0 0;
	padding: 0;
	display: flex;
}

[contenteditable="true"] {
	outline: none;
}
